body {
  background-image: url("../bg.jpg");
  font-family: 'Gamja Flower', cursive;
  color: #FFD6E4;
  text-shadow: 2px 2px 5px #ff99c0; }
  body .container {
    background-image: url("../con.jpg");
    border-radius: 50px;
    margin-top: 10px;
    width: 50%;
    height: auto; }
    body .container .pomodoro {
      border-radius: 50px;
      text-align: center;
      height: 70%; }
      body .container .pomodoro .message {
        font-size: 100px;
        color: #FFD6E4;
        font-weight: 900; }
      body .container .pomodoro .timer {
        font-size: 150px; }
      body .container .pomodoro .btns {
        display: flex;
        flex-direction: row;
        justify-content: center; }
        body .container .pomodoro .btns .btnnn {
          font-size: 40px;
          width: 150px;
          height: 80px; }
    body .container h1 {
      font-size: 50px;
      text-align: center;
      margin: 20px; }
    body .container p {
      font-size: 40px;
      text-align: center; }
    body .container .interval {
      padding: 10px; }
    body .container button {
      background-color: #FF99C0;
      border-style: none;
      color: #8034a7;
      box-shadow: #FF478E;
      border-radius: 20px; }
    body .container button:hover {
      transform: scale(1.1); }
    body .container button:active {
      background-color: #FF478E;
      color: white;
      border-style: none; }
    body .container .button {
      font-size: 30px; }
