@import 'variables';

*{
    background-color:$background;
    font-family: 'Concert One', cursive;
    .pomodoro{
        // color:$word;
        font-size:5rem;
        display:flex;
        justify-content: center;
        align-items: center;
        height:100%;
    }
    .breakInterval{
        display:flex;
        justify-content: center;
        align-items: center;
        
}
}